@import '../../theme/conf';
.menu-wrap {
    padding: 0;
    width: 250px;
    height: auto;
}

.menu-item {
    margin: 0;
    list-style: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    .menu-link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        height: 50px;
        outline: none;
        background: transparent;
        border-left: 3px solid transparent;
        color: black;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            color: $primary;
            background: $border-color;
        }
        .placeholder,
        .text,
        .direction {
            display: block;
            height: 50px;
            line-height: 50px;
            font-size: $sm-text+1;
        }
        .placeholder {
            width: 47px;
            text-align: center;
            margin-right: 10px;
        }
        .text {
            flex: 1;
        }
        .direction {
            width: 50px;
            @include transition(transform .2s);
            @include transform(rotate(0deg));
        }
    }
    .menu-link.active {
        // @include linear-gradient(to right, $primary, #e0cbff);
        border-left: 3px solid #2c90e3;
        color: #2c90e3;
        font-weight: 600;
    }
}

.item-toggle-on {
    >.menu-link {
        .direction {
            @include transform(rotate(90deg));
        }
    }
}

.item-children {
    .menu-wrap {
        background: rgba($black, .05);
    }
}

@media (max-width:1440px) {
    .menu-wrap {
        width: 210px;
    }
}