<div class="pages-top">
  <div class="avatar-wrap">
    <div class="avatar">
      <img src="{{avatarImgSrc}}" alt="avatar" >
    </div>
    <div class="user-info-wrap">
      <span style="font-size: 35px;color:white">Acendre</span>
    </div>
  </div>

  <!-- <div class="collapse-menu" (click)="_sidebarToggle()">
    <i class="fa fa-navicon fa-fw" [ngClass]="{'toggle-on':sidebarToggle,'toggle-off':!sidebarToggle}"></i>
    <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
    <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
  </div> -->


  <!-- <div class="search-group">
    <input type="text" class="search-input" placeholder="Search project · · ·">
    <button class="search-btn">
      <i class="fa fa-search fa-fw"></i>
    </button>
  </div>-->

  <!-- <div class="msg-tips-wrap">
    <div class="msg-entrance ring">
      <span class="fa fa-bell fa-fw"></span>
      <span class="badge" *ngIf="tip.ring"></span>
    </div>
    <div class="msg-entrance email">
      <span class="fa fa-envelope fa-fw"></span>
      <span class="badge" *ngIf="tip.email"></span>
    </div>
  </div>  -->

</div>
