<div class="row">
  
<div class="col-md-2 animated fadeIn" style="padding-right:0px!important">
<div class="card card-block tip-cardmenu" style="background: #e0e0e0;min-height: 100vh;box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.19) 0px 2px 5px 0px">
<ul class="menu-wrap animated fadeIn nav " role="tablist">


<li  class="menu-item active" style="border-bottom:1px solid #d7cfcf">
  <a  data-toggle="pill" href="#pills-invoices4" routerLinkActive="active" class="menu-link" >
    <span class="text">Computer Science</span>
    </a>
  </li>


  <li  class="menu-item" style="border-bottom:1px solid #d7cfcf">
      <a  data-toggle="pill" href="#pills-invoices4" routerLinkActive="active" class="menu-link" >
        <span class="text">Information Technology</span>
        </a>
      </li>

      <li  class="menu-item" style="border-bottom:1px solid #d7cfcf">
          <a  data-toggle="pill" href="#pills-invoices4" routerLinkActive="active" class="menu-link" >
            <span class="text">Quantom Physics</span>
            </a>
          </li>

  </ul>

</div>
</div>

<div class="col-md-3 animated fadeIn" style="padding-right:0px!important">
  <div class="card card-block tip-cardmenu" style="background: #eeeeee;min-height: 100vh;box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.19) 0px 2px 5px 0px">
  <ul class="menu-wrap animated fadeIn nav " role="tablist">
    <li  class="menu-item active" style="border-bottom:1px solid #d7cfcf">
        <a  data-toggle="pill" href="#pills-invoices4" routerLinkActive="active" class="menu-link" >
          <span class="text">Project Coordinator <em>10</em></span>
          </a>
        </li>

        <li  class="menu-item" style="border-bottom:1px solid #d7cfcf">
            <a  data-toggle="pill" href="#pills-invoices4" routerLinkActive="active" class="menu-link" >
              <span class="text">Technical Officer </span>
              </a>
            </li>
            <li  class="menu-item " style="border-bottom:1px solid #d7cfcf">
                <a  data-toggle="pill" href="#pills-invoices4" routerLinkActive="active" class="menu-link" >
                  <span class="text">Electrical & Instrumentation</span>
                  </a>
                </li>


                <li  class="menu-item" style="border-bottom:1px solid #d7cfcf">
                    <a  data-toggle="pill" href="#pills-invoices4" routerLinkActive="active" class="menu-link" >
                      <span class="text">Service Delivery Manager</span>
                      </a>
                    </li>
  </ul>
  </div>
</div>

<div class="col-md-7 animated fadeIn" style="margin-left:0px;">
<div class="card card-block tip-card" style="min-height: 100vh;box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.19) 0px 2px 5px 0px;background: #eef1f7">


    <div class="notificationIcon" style="float: right;padding-right: 20px;border: 1px solid #f5f5f5;background: #f5f5f5;border-radius: 3px;height: 36px;margin-top: 4px;width: 100%;">
        <div class="profile_col dropdown unselectable" style="float: right">
        <div class="pop-up" >
        
        <div class="dropdown-container" id="drop">
        
        <div class="notifications dropdown" style="margin-top:5px" data-toggle="dropdown">
        <img src="assets/images/filter_gray.png" alt="" class="sub-filter" style="width: 28px;cursor: pointer;">
        </div>
        
        <div class="dropdown-menu animated" id="notification-dropdown" style="background-color: #0e283e;">
        
        <div style="max-height:90px;text-align: center">
            <div style="margin-top:-25px;max-height:40px;">
                <span  style="color:white;cursor: pointer">All</span>
              </div>
              
        <div style="margin-top:-15px;max-height:50px">
          <span  style="color:white;cursor: pointer;">Applied</span>
        </div>
        <div style="margin-top:-25px;max-height:40px;">
          <span  style="color:white;cursor: pointer">Existing</span>
        </div>
        
        </div>
        </div>
        </div>
        </div>
        </div>
        
        
    </div>



<table class="table">
<thead >
<tr class="tableHeader">
  <th >Full Name</th>
  <th >Location</th>
  <th >Resume Links</th>
  <th >Percentage Match</th>
</tr>
</thead>

<tbody>
<tr *ngFor="let data of userDetail | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
<td style="color: #00649e">{{data.name}}</td>
<td>{{data.location}}</td>
<td style="cursor: pointer" ><i class="fa fa-file-text-o" aria-hidden="true" (click)="resumeOpen(data.pdfresume)"></i></td>
<td>{{data.percentageMatch}}</td>
</tr>

</tbody>

</table>

<form class="pagination-wrapper">
    <div class="form-group pages">
      <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
        autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
    <div class="form-group options pages">
      <div class="input-group input-group-sm">
        <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
          <option>1</option>
          <option>7</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
          <option>200</option>
        </select>
        <span class="input-group-addon addon-right">Per Page</span>
      </div>
    </div>
  </form>

</div> 
</div>
  
</div>

<div id="mySidenav" class="sidenav">
    <a class="closebtn" style="cursor: pointer" (click)="closeNav()">&times;</a>
    <pdf-viewer [src]="pdfSrc" ></pdf-viewer>
  </div>
