@import "../../shared/theme/conf";


.tip-cardmenu {
    padding: 2px 0;
}

table { 
    table-layout: fixed; 
    border-spacing: 0px 10px; 
    border-collapse: separate;
 }

tr{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.19) 0px 2px 5px 0px;
}

tr > td {
    text-align: center;
    padding: 12px;
    background: white

}
th{
    text-align: center;
}
.tableHeader{
    background-color: #2c90e3; 
    color: white;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd;
}



  .menu-wrap > li.active > a, .menu-wrap > li.active > a:hover, .menu-wrap > li.active > a:focus {
      color: #2c90e3;
      border:none;
      background-color: #f5f5f5;
      border-left:5px solid #2c90e3;
      vertical-align: center;
  }
  


  .menu-wrap {
    padding: 0;
    height: auto;
    
}

.menu-item {
    margin: 0;
    list-style: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    .menu-link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        height: 50px;
        outline: none;
        background: transparent;
        border-left: 3px solid transparent;
        color: black;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            color: #3b9aec;
            background: $border-color;
        }
        .text {
            display: block;
            height: 50px;
            line-height: 30px;
            font-size: $sm-text+1;
        }
    }
    
}


  
.sidenav {
    margin-top: 58px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }




  .pagination-wrapper {
      padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .input-group {
        width: 140px;
        margin-right:20px;

        .input-group-addon {
            // @extend .bg-primary;
            background: #2c90e3;
            color: $white;
            border: none;
        }
    }
    .form-group {
        height: auto;
        margin: 0;
        padding: 0;
    }
}

.my-pagination /deep/ .ngx-pagination {
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
    font-size: $sm-text;
    padding: 0;
    a,
    .current {
        min-width: 30px;
        text-decoration: none;
        height: 35px;
        text-align: center;
        line-height: 33px;
        margin: 0;
        color: $fonts-color;
        &:last-child {
            border: none;
        }
    }
    a:hover,
    .current {
        min-width: 30px;
        // @extend .bg-primary;
        color: black;
    }
    .disabled {
        color: rgba($fonts-color, .4);
        cursor: not-allowed;
    }
}


em {
    font-size: 10px;
    background: #ea4f35;
    padding: 1px 5px;
    border-radius: 10px;
    font-style: normal;
    color: #fff;
    line-height: 5px;
    height: 14px;
}




.dropdown-menu:after, .dropdown-menu:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
   
  }
  .dropdown-menu:after, #menu:before {
  
    border: none!important;
  
  }
  div#notification-dropdown {
    margin-left: -104px;
    line-height:60px;

  }

  
  .active:nth-child(even) {background-color: red;}
  .dropdown-menu:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 6px;
    margin-left: 157px;
    min-width: 110px;
  }
  .dropdown-menu:before {
    border-color: rgba(245, 15, 15, 0);
    border-bottom-color: black;
    border-width: 7px;
    margin-left: 57px;
  }
  div#notification-dropdown {
    min-height: 5em;
    height: auto;
    width: 3em;
    top: 34px !important;
    left: -22px;
  }