@import '../../theme/conf';
.pages-sider {
    width: 250px;
    height: 100%;
    background: #eeeeee;
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    overflow-x: hidden;
    @include transition(all .5s);
    border: none;
    .sidebar-top-line {
        display: block;
        width: 80%;
        position: relative;
        left: 10%;
        border-top: 1px solid $border-color;
    }
}

.side-collapsed {
    width: 0;
    /* .avatar-wrap {
        padding: 15px 4px;
        border-bottom: 1px solid transparent;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 5px 2px;
    }
    .user-info-wrap {
        transform: scale(0, 0);
    } */
}

@media (max-width:1440px) {
    .pages-sider {
        width: 210px;
    }
    .side-collapsed {
        width: 0;
    }
}

@media (max-width:970px) {
    .pages-sider {
        width: 0;
    }
}